<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>md2dot</title>
  
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X1ZX3RQ07R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X1ZX3RQ07R');
</script>
</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div>Please input like markdown itemize
    <div>
      <textarea v-model="code" rows="30" cols="50"></textarea>
    </div>
  </div>
  <details>
    <summary>Parsed object</summary>
    <pre>{{ doc }}</pre>
  </details>
  <details>
    <summary>Generated dot</summary>
    <textarea v-model="dot" rows="20" cols="50"></textarea>
  </details>
  <div ref="graph">
    <svg></svg>
  </div>
</div>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14'></script>
<script src='https://unpkg.com/viz.js@2.1.2/viz.js'></script>
<script src='https://unpkg.com/viz.js@2.1.2/full.render.js'></script><script  src="./script.js"></script>

</body>
</html>
