#app
  div Please input like markdown itemize
    div
      textarea(v-model="code", rows="30", cols="50")
  details
    summary Parsed object
    pre {{ parsed }}
  details
    summary dot digraph options
    div
      textarea(v-model="header", rows="10", cols="50")
  details
    summary Generated dot
    textarea(v-model="dot", rows="20", cols="50")
  div
    p(v-if="message") Error message : {{ message }}
  div(ref="graph")
    svg
